.banner{
    height: 600px;
    object-fit: contain;
    width: 100%;
}
.banner_content{
    padding-top: 350px;
    margin-left: 50px;

}
.banner_title{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;

}
.banner_desc{
    
    line-height: 20px;
    padding-top: 1px;
    font-size: 1rem;
    height: 80px;
    

}